<!DOCTYPE html>
<html>

    <head>
        <% include partials/header.ejs %>
        <title>jsy-evt-cal</title>
    </head>

    <body>
        
        <% include partials/nav.ejs %>

        <div class="container">
            hello :)
            <a class="btn btn-default" href="#" role="button">Test Theme</a>
        </div>

        <% include partials/footer.ejs %>

    </body>

</html>

